<!-- -->
<launch>
	<arg name="magabot_port" default="/dev/ttyMagabot"/>
	<arg name="inertial_port" default="/dev/ttyMagabotInertial"/>
	<arg name="laser_port" default="/dev/ttyURG0"/>

	<node name ="magabot_node" pkg="magabot" type="magabot_node" output="screen"> 
		<param name="port" value="$(arg magabot_port)" />
		<param name="port_inertial" type="string" value="$(arg inertial_port)" />
		<param name="use_imu" value="true"/>
	</node>

	<!-- <node pkg="magabot" name="magabotnode" type="magabot_node">
		<param name="port" type="string" value="/dev/ttyACM0" />
		<param name="port_inertial" type="string" value="/dev/ttyACM1"/>		
		<param name="odom_frame_id" type="string" value="/odom"/>
		<param name="base_frame_id"  type="string" value="/base_link"/>
		<param name="cmd_vel_topic_id" type="string" value="/cmd_vel" />
		<param name="odom_topic_id"  type="string" value="/odom"/>
	</node> -->
    <arg name="vel_linear_max" default="0.2"/>
	<arg name="vel_angular_max" default="0.4"/>
	<node pkg="magabot" name="joysticknode" type="joystick_node">
		<param name="vel_linear_max" value="$(arg vel_linear_max)" />
		<param name="vel_ang_max" value="$(arg vel_angular_max)" />
	</node>

	<node pkg="joy" name="joy_node" type="joy_node"/>

<!-- LASER -->
	<node name="urg" pkg="urg_node" type="urg_node" respawn="false" output="screen" >
		<remap from="scan" to="base_scan" />
		<param name="frame_id" value="base_laser" />
		<param name="synchronize_time" type="bool" value="false"/>
		<param name="serial_port" type="string" value="$(arg laser_port)" />
		<param name="publish_intensity" type="bool" value="false"/>
	</node>

<!-- Static TFs a bit over 10Hz: -->
	<node pkg="tf" type="static_transform_publisher" name="static_laser_tf" args="0.10 0.0 0.0 0 0 0 base_link base_laser 99" />

</launch>
